<%= link_to 'New Blog', new_blog_path %>
<% @blogs.each do |blog| %>
      <ul>
        <li>
          <%= image_tag blog.image %>
        </li>
        <li>
          <%= blog.title %>
        </li>

        <li>
          <%= link_to 'Show', blog %>
        </li>
        <li>
          <%= link_to 'Edit', edit_blog_path(blog) %>
        </li>
        <li>
          <%= link_to 'Destroy', blog, method: :delete, data: { confirm: 'Are you sure?' } %>
        </li>
      </ul>
    <% end %>
<br>
