<%= form_with(model: update, local: true) do |form| %>
  <% if update.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(update.errors.count, "error") %> prohibited this update from being saved:</h2>

      <ul>
      <% update.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title, id: :update_title %>
  </div>

  <div class="field">
    <%= form.label :body %>
    <%= form.text_area :body, id: :update_body %>
  </div>

  <div class="field">
    <%= form.label :image %>
    <%= form.text_area :image, id: :update_image %>
  </div>

  <div class="field">
    <%= form.label :image2 %>
    <%= form.text_area :image2, id: :update_image2 %>
  </div>

  <div class="field">
    <%= form.label :image3 %>
    <%= form.text_area :image3, id: :update_image3 %>
  </div>

  <div class="field">
    <%= form.label :slug %>
    <%= form.text_field :slug, id: :update_slug %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
